header {
  z-index: 1;
  position: sticky;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 5% 25%;
  grid-template-columns: 30% 40% 5% 25%;
  -webkit-box-shadow: 1px 10px 30px #11111f;
          box-shadow: 1px 10px 30px #11111f;
  background: #11111f;
  padding: 0 1%;
}

.titlePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 50px;
  -webkit-animation: go 0.3s;
          animation: go 0.3s;
  color: #fff;
}

.titlePage span:nth-child(1) {
  color: #ffae00;
}

.titlePage span:nth-child(4) {
  color: #93e0ff;
  border-right: 3px solid white;
  -webkit-animation: cursor 0.75s step-end infinite, printed_text 0.5s steps(7, end);
          animation: cursor 0.75s step-end infinite, printed_text 0.5s steps(7, end);
  overflow: hidden;
  white-space: nowrap;
}

.titlePage span:nth-child(5) {
  color: #fff;
}

@-webkit-keyframes cursor {
  0% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}

@keyframes cursor {
  0% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}
@-webkit-keyframes go {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes go {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes printed_text {
  from {
    width: 0;
  }
  to {
    width: 17%;
  }
}
@keyframes printed_text {
  from {
    width: 0;
  }
  to {
    width: 17%;
  }
}
.foot {
  text-align: center;
  color: #ffd034;
}

section {
  color: #fff;
  margin: 50px 5%;
  padding: 10px 25px;
  border-radius: 10px;
}

section p {
  color: #ffae00;
}

section span {
  display: inline-block;
  color: #747474;
}

section div {
  color: #fff;
}

.hidden {
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-3%);
          transform: translateX(-3%);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.show {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (prefers-reduced-motion) {
  .hidden {
    -webkit-transition: none;
    transition: none;
  }
}
.ico-github,
.ico-info,
.ico-location,
.ico-experience,
.ico-education,
.ico-skills {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

.ico-github {
  background-image: url("../img/icon-github.svg");
}

.ico-info {
  background-image: url("../img/icon-info.svg");
}

.ico-location {
  background-image: url("../img/icon-location.svg");
  background-size: 93%;
}

.ico-experience {
  background-image: url("../img/icon-experience.svg");
}

.ico-education {
  background-image: url("../img/icon-education.svg");
}

.ico-skills {
  background-image: url("../img/icon-skills.svg");
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
body {
  background: #23242e;
  font-size: 20px;
  font-family: "Consolas";
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

a, h1 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

a {
  font-size: 25px;
}

h1 {
  font-size: 35px;
}

a:hover, h1:hover {
  color: #ffd034;
}

a:active, h1:active {
  color: #ffae00;
}

h2 {
  display: inline-block;
  font-size: 30px;
  color: #fff;
}

.box_rotate {
  -webkit-animation: 0.5s animate forwards;
          animation: 0.5s animate forwards;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}
.text {
  font-weight: 600;
  color: #df9d63;
}

.text:before, .text:after {
  content: "'";
}

.key {
  font-weight: 600;
  color: #93e0ff;
}

.key:before, .key:after {
  content: "'";
}

.back {
  color: #747474;
  font-size: 25px;
  font-weight: 700;
}

.variable {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.variable:first-letter {
  color: #93e0ff;
}

.array-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 3% 20%;
  grid-template-columns: 10% 3% 20%;
}

.json-3 {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  -ms-grid-columns: 30% 5% 65%;
  grid-template-columns: 30% 5% 65%;
}

.col-title {
  display: -ms-inline-grid;
  display: inline-grid;
  margin: 10px;
  padding: 10px;
  width: auto;
      grid-template-areas: "b a" "b c";
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  background: #1d1d1d;
  border: dotted black 1px;
  border-radius: 10px;
}

.col-title > div {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: b;
}

.col-title > h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a;
}

.col-title > span {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: c;
}

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
}

.border {
  border: dotted black 1px;
  border-collapse: collapse;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  background: #1d1d1d;
}

li {
  margin-left: 7%;
}