doctype html
html(lang="ru")

  include components/head.pug

  body
    include components/header.pug

    section
      h1 ->Info()
      span //array
      div.border
        p [
        div.array-3
          div.key name
          div =>
          div.text Markov Andrei Valerievich
          div.key age
          div =>
          div.text 29
          div.key speciality
          div =>
          div.text PHP Back-end Developer
        p ];

    section
      h1 ->Location()
      span //array
      div.border
        p [
        div.array-3
          div.key country
          div =>
          div.text Republic of Belarus
          div.key city
          div =>
          div.text Minsk
          div.key district
          div =>
          div.text Oktyabrsky
          div.key street
          div =>
          div.text L.Levina
          div.key house
          div =>
          div.text 11
        p ];

    section
      h1 ->Experience()
      span //json_decode
        div.col-2
          div.border
            p {
            div.json-3
              div.key job
              div :
              div.text The State Forestry Institution<br>"Cherikovsky Forestry"
              div.key position
              div :
              div.text Forest master
              div.key date
              div :
              div.text April 2016 - May 2018<br>(2 years 2 months)
              div.key achieve-<br>ments
              div :
              div.text 1. Active participation in the elimination of windbreaks in the Cherven and Smolevichi districts in 2017
            p },
          div.border
            p {
            div.json-3
              div.key job
              div :
              div.text Mobile TeleSystems, JLLC
              div.key position
              div :
              div.text Customer service manager
              div.key date
              div :
              div.text September 2018 - October 2018<br>(2 months)
            p },
          div.border
            p {
            div.json-3
              div.key job
              div :
              div.text BURSHTAT
              div.key position
              div :
              div.text Marketer
              div.key date
              div :
              div.text September 2018 - October 2018<br>(2 months)
            p },
          div.border
            p {
            div.json-3
              div.key job
              div :
              div.text Hunting Republician Unitary Enterprise<br>"BELGOSOKHOTA"
              div.key position
              div :
              div.text Hunting management and research engineer
              div.key date
              div :
              div.text October 2019 - February 2023<br>(3 years 4 months)
              div.key achieve-<br>ments
              div :
              div.text 1. Merch design development;<br>
                | 2. Software setup when moving to a remote location (due to Covid-19);<br>
                | 3. Development of guidelines for work in the department;<br>
                | 4. Training and adaptation of new employees in the department
            p }

    section
      h1 ->Education()
      span //json_decode
        div.col-2
          div.border
            p {
            p //BASIC
            div.json-3
              div.key institute
              div :
              div.text Secondary School #1
              div.key city
              div :
              div.text Cherikov
              div.key date
              div :
              div.text 2010
            p },
          div.border
            p {
            p //HIGHER
            div.json-3
              div.key institute
              div :
              div.text Belarusian State Agricultural Academy
              div.key city
              div :
              div.text Gorki
              div.key speciality
              div :
              div.text Ecologist
              div.key date
              div :
              div.text 2016
            p },
          div.border
            p {
            p //COURSES
            div.json-3
              div.key institute
              div :
              div.text Republican Center for Advanced Training of Managers and Forestry Specialists
              div.key city
              div :
              div.text Zhdanovichi
              div.key speciality
              div :
              div.text Forest master
              div.key date
              div :
              div.text 2018
            p },
          div.border
            p {
            p //COURSES
            div.json-3
              div.key institute
              div :
              div.text Belarusian State Technological University
              div.key city
              div :
              div.text Minsk
              div.key speciality
              div :
              div.text Forestry engineer
              div.key date
              div :
              div.text 2018
            p },
          div.border
            p {
            p //COURSES
            div.json-3
              div.key institute
              div :
              div.text My IT School
              div.key city
              div :
              div.text Minsk
              div.key speciality
              div :
              div.text PHP Back-end Developer
              div.key date
              div :
              div.text 2023
            p },

    section
      h1 ->Skills()
      span //Methods
        div.col-2
          div.border
            h1 ->HardSkills('Main')
            span //Foreach() {$key. '$val'}
            p [
              ol
                li Programming languages
                  ul
                    li.text PHP
                    li.text JavaScript
                li Framework
                  ul
                    li.text Laravel
                li Style Layout Language
                  ul
                    li.text HTML
                    li.text CSS
                li Preprocessors
                  ul
                    li.text PUG
                    li.text SASS
                li Programming Libraries
                  ul
                    li.text JQuery
                    li.text AJAX
                li Database
                  ul
                    li.text MySQL
                li Version control
                  ul
                    li.text GIT (GitHub)
            p ];
          div.border
            h1 ->HardSkills('Language')
            span //array
            p [
            div.json-3
              div.key Russian (ru-RU)
              div =>
              div.text Native
              div.key Belarusian (be-BE)
              div =>
              div.text Native
              div.key English (en-US)
              div =>
              div.text Pre-Intermediate
              div.key Deutsch (de-DE)
              div =>
              div.text Elementary
            p ];
          div.border
            h1 ->SoftSkills()
            span //Foreach() {$key. '$val'}
            p [
              ol
                li Sociability
                  ul
                    li.text The ability to listen
                    li.text Clear speech
                li Leadership
                  ul
                    li.text Responsibility
                    li.text Basic time management
                    li.text Work for the result
                    li.text Multitasking
                li Personal Skills
                  ul
                    li.text Critical thinking
                    li.text Trust
                    li.text Patience
                    li.text Honesty
                    li.text Eagerness to learn
            p ];

    include components/footer.pug