doctype html
html(lang="ru")

  include components/head.pug

  body
    include components/header.pug

    include components/section_info.pug
    include components/section_location.pug
    include components/section_experience.pug
    include components/section_education.pug
    include components/section_skills.pug

    include components/scripts.pug

    include components/footer.pug