doctype html
html(lang="ru")
    include ./components/head.pug
    body
        include ./components/header.pug

        section
            p Back-end Developer
            p Марков Андрей, ♂, 28 лет

        section
            p Местоположение:
            p РБ, Минск, Октябрьский район, Minsk-World

        section
            p Навыки

            ol
                li HardSkills
                    ul 
                        li Иностранные языки
                            ul
                                li Английский - Pre-Intermediate
                                li Немецкий - Elementary
                        li Языки программирования
                            ul
                                li JavaScript
                                li PHP
                        li Framework
                            ul
                                li Laravel (для PHP)
                        li Языки верстки/стилей
                            ul
                                li HTML
                                li CSS
                        li Препроцессоры
                            ul
                                li PUG (для HTML)
                                li SASS (для CSS)
                        li Контроль версий
                            ul
                                li GIT (GITHUB)

                li SoftSkills
                    ul
                        li Коммуникабельность
                            ul 
                                li Умение слушать
                                li Четкая речь
                        li Лидерство
                            ul
                                li Ответственность
                                li Базовый тайм-менеджмент
                                li Работа на результат
                                li Многозадачность
                        li Креативность
                            ul
                                li Критическое мышление
                                li Доверие
                                li Терпение
                        li Персональные навыки
                            ul
                                li Честность
                                li Желание учиться

        include ./components/footer.pug