//Color
$page: #23242e
$header: #11111f
$white: #fff
$gold: #ffd034
$gray: #747474
$blue: #93e0ff
$orange: #ffae00
$text: #df9d63

//импорт компонентов
@import "components/header"
@import "components/footer"
@import "components/section"

*
  margin: 0
  padding: 0

@font-face
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif

body
  //не выделяемый текст на странице
  background: $page
  font-size: 20px
  font-family: "Consolas"
  -moz-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none

a,h1
  transition: .2s
  display: inline-block
  cursor: pointer
  color: $white
a
  font-size: 25px
h1
  font-size: 35px
a:hover,h1:hover
  color: $gold
a:active,h1:active
  color: $orange


.box_rotate
  animation: .5s animate forwards
@keyframes animate
  0%
    transform: rotateX(0)
  50%
    transform: rotateX(90deg)
  100%
    transform: rotateX(0)

.text
  font-weight: 600
  color: $text
.text:before,.text:after
  content: "'"

.key
  font-weight: 600
  color: $blue
.key:before,.key:after
  content: "'"

.back
  color: $gray
  font-size: 25px
  font-weight: 700

.variable
  color: $white
  font-size: 25px
  font-weight: 700
.variable:first-letter
  color: $blue

.array-3
  display: grid
  grid-template-columns: 10% 3% 20%

.json-3
  display: grid
  row-gap: 10px
  grid-template-columns: 30% 5% 65%

.col-2
  display: grid
  grid-template-columns: 50% 50%

.border
  border: dotted black 1px
  border-collapse: collapse
  border-radius: 10px
  margin: 10px
  padding: 5px
  background: #1d1d1d

li
  margin-left: 7%