header
  div.back
    div &lt;?php
    div use Resume\CurriculumVitae as CV;
    div use Resume\Page as Page;
    div $markov = new CV();
  div.titlePage
    span Page
    span ::Show
    span ('
    span.print About
    span ')
  div.var
    div.variable $markov
  div.menu
    p
      a.btn -&gt;about()
    p
      a.btn -&gt;contacts()