- let contents = ['info','location','experience','education','skills']

  .btn-up.btn-up_hide
header.sonp-section.sonp-parallax
  div#up.back
    div &lt;?php
    div use Resume\CurriculumVitae as CV;
    div use Resume\Page as Page;
    div $markov = new CV();
  div.titlePage
    span Page
    span ::Show
    span ('
    span.print About
    span ')
  div.var
    div.variable $markov
  div.menu
    each val in contents
      p
        <a class="btn" href="##{val}">-&gt;#{val}()</a>