- let contents = ['info','location','experience','education','skills']

  .btn-up.btn-up_hide
header.sonp-section.sonp-parallax
  div#up.back
    div &lt;?php
    div use Resume\CurriculumVitae as CV;
    div use Resume\Page as Page;
    div $markov = new CV();
  div.titlePage
    span Page
    span ::Show
    span ('
    span.print About
    span ')
  div.var
    div.variable $markov
  div.menu
      p
        <a class="btn sonp-navigation-item" href="#info" data-section="1">-&gt;info()</a>
      p
        <a class="btn sonp-navigation-item" href="#location" data-section="2">-&gt;location()</a>
      p
        <a class="btn sonp-navigation-item" href="#experience" data-section="3">-&gt;experience()</a>
      p
        <a class="btn sonp-navigation-item" href="#education" data-section="4">-&gt;education()</a>
      p
        <a class="btn sonp-navigation-item" href="#skills" data-section="5">-&gt;skills()</a>