- let files = ['sonpScroll','section','translate','scroll','title']

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js")

each val in files
  script(src="js/" + val + ".js")