section.hidden
  div.col-title
    div.ico-experience
    h1 ->Experience()
    span //json_decode
  div.col-2
    div.border.hidden
      p {
      div.json-3
        div.key job
        div :
        div.text The State Forestry Institution<br>"Cherikovsky Forestry"
        div.key position
        div :
        div.text Forest master
        div.key date
        div :
        div.text April 2016 - May 2018<br>(2 years 2 months)
        div.key achieve-<br>ments
        div :
        div.text 1. Active participation in the elimination of windbreaks in the Cherven and Smolevichi districts in 2017
      p },
    div.border.hidden
      p {
      div.json-3
        div.key job
        div :
        div.text Mobile TeleSystems, JLLC
        div.key position
        div :
        div.text Customer service manager
        div.key date
        div :
        div.text September 2018 - October 2018<br>(2 months)
      p },
    div.border.hidden
      p {
      div.json-3
        div.key job
        div :
        div.text BURSHTAT
        div.key position
        div :
        div.text Marketer
        div.key date
        div :
        div.text September 2018 - October 2018<br>(2 months)
      p },
    div.border.hidden
      p {
      div.json-3
        div.key job
        div :
        div.text Hunting Republician Unitary Enterprise<br>"BELGOSOKHOTA"
        div.key position
        div :
        div.text Hunting management and research engineer
        div.key date
        div :
        div.text October 2019 - February 2023<br>(3 years 4 months)
        div.key achieve-<br>ments
        div :
        div.text 1. Merch design development;<br>
          | 2. Software setup when moving to a remote location (due to Covid-19);<br>
          | 3. Development of guidelines for work in the department;<br>
          | 4. Training and adaptation of new employees in the department
      p }