section#info.hidden
  div.col-title
    div.ico-info.hidden
    h1 ->Info()
    span //array
  div.border.hidden
    .flex
      .photo
      .div
        p.flex [
        div.array-3
          div.key name
          div =>
          div.text Markov Andrei Valerievich
          div.key gender
          div =>
          div.text male
          div.key dateofbirth
          div =>
          div.text Nov 1, 1993
          div.key speciality
          div =>
          div.text PHP Back-end Developer
        p.flex ];