section.hidden
  div.col-title
    div.ico-education.hidden
    h1 ->Education()
    span //json_decode
  div.col-2
    div.border.hidden
      p {
      p //BASIC
      div.json-3
        div.key institute
        div :
        div.text Secondary School #1
        div.key city
        div :
        div.text Cherikov
        div.key date
        div :
        div.text 2010
      p },
    div.border.hidden
      p {
      p //HIGHER
      div.json-3
        div.key institute
        div :
        div.text Belarusian State Agricultural Academy
        div.key city
        div :
        div.text Gorki
        div.key speciality
        div :
        div.text Ecologist
        div.key date
        div :
        div.text 2016
      p },
    div.border.hidden
      p {
      p //COURSES
      div.json-3
        div.key institute
        div :
        div.text Republican Center for Advanced Training of Managers and Forestry Specialists
        div.key city
        div :
        div.text Zhdanovichi
        div.key speciality
        div :
        div.text Forest master
        div.key date
        div :
        div.text 2018
      p },
    div.border.hidden
      p {
      p //COURSES
      div.json-3
        div.key institute
        div :
        div.text Belarusian State Technological University
        div.key city
        div :
        div.text Minsk
        div.key speciality
        div :
        div.text Forestry engineer
        div.key date
        div :
        div.text 2018
      p },
    div.border.hidden
      p {
      p //COURSES
      div.json-3
        div.key institute
        div :
        div.text My IT School
        div.key city
        div :
        div.text Minsk
        div.key speciality
        div :
        div.text PHP Back-end Developer
        div.key date
        div :
        div.text 2023
      p },