section#skills.hidden
  div.col-title
    div.ico-skills.hidden
    h1 ->Skills()
    span //methods
  .col-2
    .border.hidden
      div.col-title.col-sub-title
        div.ico-hard-skills-main
        h2 HardSkills['Main']
        span //Array
      p [
        ol
          li Programming languages
            ul
              li.text PHP
              li.text JavaScript
          li Framework
            ul
              li.text Laravel
          li Style Layout Language
            ul
              li.text HTML
              li.text CSS
          li Preprocessors
            ul
              li.text PUG
              li.text SASS
          li Programming Libraries
            ul
              li.text JQuery
              li.text AJAX
          li Database
            ul
              li.text MySQL
          li Version control
            ul
              li.text GIT (GitHub)
      p ];
    .border.hidden
      div.col-title.col-sub-title
        div.ico-hard-skills-language
        h2 HardSkills['Language']
        span //Foreach() {$key. '$val'}
      p [
      div.json-3
        div.key Russian (ru-RU)
        div =>
        div.text Native
        div.key Belarusian (be-BE)
        div =>
        div.text Native
        div.key English (en-US)
        div =>
        div.text Pre-Intermediate
        div.key Deutsch (de-DE)
        div =>
        div.text Elementary
      p ];
    .border.hidden
      div.col-title.col-sub-title
        div.ico-soft-skills
        h2 SoftSkills['All']
        span //Foreach() {$key. '$val'}
      p [
        ol
          li Sociability
            ul
              li.text The ability to listen
              li.text Clear speech
          li Leadership
            ul
              li.text Responsibility
              li.text Basic time management
              li.text Work for the result
              li.text Multitasking
          li Personal Skills
            ul
              li.text Critical thinking
              li.text Trust
              li.text Patience
              li.text Honesty
              li.text Eagerness to learn
      p ];