section#education.hidden.sonp-section.sonp-parallax
  div.col-title
    div.ico-education.hidden
    h1 ->Education('en')
    span //json_decode
  div.col-2
    div.border.hidden
      p {
      p //BASIC
      div.json-3
        +json('institute','Secondary School #1')
        +json('city','Cherikov')
        +json('date','2010')
      p },
    div.border.hidden
      p {
      p //HIGHER
      div.json-3
        +json('institute','Belarusian State Agricultural Academy')
        +json('city','Gorki')
        +json('speciality','Ecologist')
        +json('date','2016')
      p },
    div.border.hidden
      p {
      p //COURSES
      div.json-3
        +json('institute','Republican Center for Advanced Training of Managers and Forestry Specialists')
        +json('city','Zhdanovichi')
        +json('speciality','Forest master')
        +json('date','2018')
      p },
    div.border.hidden
      p {
      p //COURSES
      div.json-3
        +json('institute','Belarusian State Technological University')
        +json('city','Minsk')
        +json('speciality','Forestry engineer')
        +json('date','2018')
      p },
    div.border.hidden
      p {
      p //COURSES
      div.json-3
        +json('institute','My IT School')
        +json('city','Minsk')
        +json('speciality','PHP Back-end Developer')
        +json('date','2023')
      p },