section#location.hidden.sonp-section.sonp-parallax
  div.col-title
    div.ico-location.hidden
    h1 ->Location()
    span //array
  div.border.hidden
    p [
    div.array-3
      +array('country','Republic of Belarus')
      +array('city','Minsk')
      +array('district','Oktyabrsky')
      +array('street','L.Levina')
      +array('house','11')
    p ];