section#info.hidden.sonp-section.sonp-parallax
  div.col-title
    div.ico-info.hidden
    h1 ->Info()
    span //array
  div.border.hidden
    .flex
      .photo
      .div
        p.flex [
        div.array-3
          +array('name','Markov Andrei Valerievich')
          +array('gender','male')
          +array('dateofbirth','Nov 1, 1993')
          +array('speciality','PHP Back-end Developer')
        p.flex ];