section.hidden
  div.col-title
    div.ico-location
    h1 ->Location()
    span //array
  div.border.hidden
    p [
    div.array-3
      div.key country
      div =>
      div.text Republic of Belarus
      div.key city
      div =>
      div.text Minsk
      div.key district
      div =>
      div.text Oktyabrsky
      div.key street
      div =>
      div.text L.Levina
      div.key house
      div =>
      div.text 11
    p ];