$path-ico: "../img/icon-"
$square50: 50
$svg: ".svg"

.ico-github,
.ico-info,
.ico-location,
.ico-experience,
.ico-education,
.ico-skills
  display: inline-block
  width: #{$square50}px
  height: #{$square50}px
  background-size: 100%

.ico-github
  background-image: url('#{$path-ico}github#{$svg}')

.ico-info
  background-image: url('#{$path-ico}info#{$svg}')

.ico-location
  background-image: url('#{$path-ico}location#{$svg}')
  background-size: 93%

.ico-experience
  background-image: url('#{$path-ico}experience#{$svg}')

.ico-education
  background-image: url('#{$path-ico}education#{$svg}')

.ico-skills
  background-image: url('#{$path-ico}skills#{$svg}')