$path-ico: "../img/icon-"
$square-min: 60
$square-max: 80
$photo-min: 185
$photo-max: 375
$svg: ".svg"

.ico-github,
.ico-info,
.ico-location,
.ico-experience,
.ico-education,
.ico-skills,
.ico-soft-skills,
.ico-hard-skills-language,
.ico-hard-skills-main
  display: inline-block
  width: #{$square-min}px
  height: #{$square-min}px
  background-size: 100%
  background-repeat: no-repeat

.ico-github
  background-image: url('#{$path-ico}github#{$svg}')

.ico-info
  background-image: url('#{$path-ico}info#{$svg}')

.ico-location
  background-image: url('#{$path-ico}location#{$svg}')
  background-size: 93%

.ico-experience
  background-image: url('#{$path-ico}experience#{$svg}')

.ico-education
  background-image: url('#{$path-ico}education#{$svg}')

.ico-skills
  background-image: url('#{$path-ico}skills#{$svg}')

.ico-soft-skills
  background-image: url('#{$path-ico}soft-skills#{$svg}')

.ico-hard-skills-language
  background-image: url('#{$path-ico}hard-skills-language#{$svg}')

.ico-hard-skills-main
  background-image: url('#{$path-ico}hard-skills-main#{$svg}')

.photo
  display: inline-block
  width: #{$photo-min}px
  height: #{$photo-min}px
  background-image: url('../img/photo1.png')
  background-repeat: no-repeat
  background-size: 101%
  filter: grayscale(.55)
  margin-right: 15px

.grid
  display: grid
.flex
  display: flex

  // 1024px и меньше
@media (max-width: 1024px)
  .ico-github,
  .ico-info,
  .ico-location,
  .ico-experience,
  .ico-education,
  .ico-skills,
  .ico-soft-skills,
  .ico-hard-skills-language,
  .ico-hard-skills-main
    width: #{$square-max}px
    height: #{$square-max}px
  .photo
    margin: 0 30%
    width: #{$photo-max}px
    height: #{$photo-max}px
  .flex
    display: block