section
  color: $white
  margin: 50px 5%
  padding: 10px 25px
  border-radius: 10px

section .col-title:hover:not(.col-sub-title),
section .border:hover
  transition: .5s
  scale: 1.03
  box-shadow: 15px 17px 12px -7px #00000086
  border: 1px solid black

section p
  color: $orange

section span
  display: inline-block
  color: $gray

section div
  color: $white

.hidden
  opacity: 0
  filter: blur(5px)
  transform: translateX(-3%)
  transition: all .7s

.show
  opacity: 1
  filter: blur(0)
  transform: translateX(0)

  
// 1024px и меньше
@media (max-width: 1024px)
  section
    margin: 50px 0
    padding: 10px 0
  section .col-title:hover:not(.col-sub-title),
  section .border:hover
    scale: 1.01
  .hidden
    display: grid